/* Mobile first view */

/* Style the header which contains the navigation links */
header {
    background-color: #121A12; /* Deep forest green */
    overflow: hidden;
}

h1{
    color: #F2E6D6;
    float: left;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

/* Hide the checkbox we use for the hamburger menu */
#hamburger_checkbox {
    display: none;
}

#hamburger_image {
    background-color: #364A36; /* Dark muted green */
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 10%;
}

#hamburger_checkbox:not(:checked)+nav{
    display: none;
}

/* Style the links in the navigation bar */
nav a {
    color: #F2E6D6; /* Brighter beige for readability */
    float: left;
    font-size: 18px;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none; /* Remove hyperlink underline */
    width: 100%;
}

/* Change/invert colours on mouse hover */
nav a:hover{
    background-color: #364A36; /* Dark muted green */
    color: #F2E6D6; /* Brighter beige */
}

/* Highlights when using tab to cycle through */
nav a:focus{
    background-color: #364A36; /* Dark muted green */
    color: #F2E6D6; /* Brighter beige */
    outline: none;
}

/* Colour of highlight for the current link */
.active_nav{
    background-color: #364A36; /* Dark muted green */
    color: #F2E6D6; /* Brighter beige */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /*Hide the hamburger menu image we use as a button for the hamburger menu checkbox */
    #hamburger_image {
        display: none;
    }

    /*Show the navigation links... even if the hamburger menu checkbox is not selected (menu open) */
    #hamburger_checkbox:not(:checked)+nav{          /* Full width of parent element */
        display: block;
    }

    /*Style the Heading (House Plants)*/
    h1{
        text-align: left;
        width: 390px
    }

    /*Style the Navigation bar */
    nav{
        float: right;
    }

    /*Style the links inside the navigation bar*/
    nav a{
        width: auto;
    }
}